#skills

	/ header
	%div

		%h1= "Skills"

	/ will have three columns of skills here!
	%div 	
		
		%div

			%h2= "Languages"		
			%ul

				%li= "Python"

		%div 

			%h2= "Technologies"
			%ul 

				%li= ""

		%div

			%h2= "Multimedia"
			%ul
				%li= ""

				
