#skills

	/ header
	%div

		%h1= "Skills"

	/ will have three columns of skills here!
	%div 	
		
		%div

			%h2= "Languages"		
			%ul

				%li= "Python"
				%li= "Ruby"
				%li= "PHP"
				%li= "Javascript/Coffeescript"
				%li= "Bash"
				%li= "C/C++"
				%li= "GoLang"
				%li= "Some Java"
				%li= "Some Assembly"
				%li= "Some Haskell"
				%li= "Some Lisp"

		%div 

			%h2= "Technologies"
			%ul 

				%li= "HTML/CSS"
				%li= "Node.js"
				%li= "Ruby on Rails"
				%li= "Django/Flask"
				%li= "Unix/Linux/Windows"
				%li= "NoSQL / SQL / Memcached"
				%li= "ElasticDB Search"
				%li= "LAMP/Unix Server Deployment"	
				
		%div

			%h2= "Multimedia"
			%ul
				%li= "Photoshop"
				%li= "Illustrator"
				%li= "Final Cut Pro"
				%li= "Sketchup"
				
