---
  title: Jon Morehouse's Resume
  css: resume 
  javascripts: all 
---

#forkme
	%a{:href=>"https://github.com/MorehouseJ09/resume"}

		%img{:src=>"../images/logos/forkme.png"}



/ include the basic header
= partial "partials/header"

#container
	
	= partial "partials/overview"
	= partial "partials/projects"
	= partial "partials/experience"
	= partial "partials/skills"

= partial "partials/footer"



